<article class="text-start rounded my-2 <%= previous_round.user_validation ? "good-guess" : "bad-guess"%>">
  <small>You :</small>
  <p>
    <%= format_question(previous_round.user_feature, previous_round.user_adjective) %>
    <i class="fa-regular <%= previous_round.user_validation ? "fa-circle-check" : "fa-circle-xmark" %>"></i>
  </p>
  <small><em>Round <%= previous_round.position %></em></small>
</article>
<article class="text-end <%= previous_round.computer_validation ? "good-guess" : "bad-guess" %>">
  <small>Computer : </small>
  <p>
    <%= format_question(previous_round.computer_feature, previous_round.computer_adjective) %>
    <i class="fa-regular <%= previous_round.computer_validation ? "fa-circle-check" : "fa-circle-xmark" %>"></i>
  </p>
  <small><em>Round <%= previous_round.position %></em></small>
</article>
