<div class="my-5">
  <div class="row justify-content-around">
    <div class="col-5 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <h2>You</h2>
        <%= image_tag @game.user_persona.picture, class: 'persona-picture-no-hover rounded mx-4' %>
      </div>
      <%= render "persona_list", all_personas: @all_personas, player_personas: @user_personas %>
    </div>
    <div class="col-2 d-flex flex-column justify-content-between">
      <section class="d-flex flex-column my-auto">
        <% if @previous_round.present? %>
          <%= render 'round_questions', previous_round: @previous_round %>
        <% else %>
        <article class="d-flex flex-column justify-content-center align-items-center h-50">
          <p class="text-center">Choose a characteristic and an adjective to begin</p>
          <i class="fa-solid fa-circle-arrow-down"></i>
        </article>
        <% end %>
      </section>
      <% if @previous_round.present? %>
        <div class="mx-auto" data-controller="toggle-winning-form" data-toggle-winning-form-target="winningFormContainer">
          <%= button_tag 'Make a guess',
                          type: 'button',
                          class: 'btn btn-secondary text-white',
                          data: { action: 'click->toggle-winning-form#displayWinningForm'}%>
          <%= render 'winner_form', game: @game, computer_personas: @computer_personas %>
        </div>
      <% end %>
    </div>
    <div class="col-5 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <h2>Computer</h2>
        <%= image_tag 'unknown_persona', class: 'persona-picture-no-hover rounded mx-4' %>
      </div>
      <%= render "persona_list", all_personas: @all_personas, player_personas: @computer_personas %>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="w-30">
      <%= render 'characteristics_form', round: @round,
                                         game: @game,
                                         personas_characteristics: @personas_characteristics  %>
    </div>
  </div>
</div>
