<% if win %>
  <div data-controller="alert"
       data-alert-success-icon-value="success"
       data-alert-success-title-value="You won !"
       data-alert-success-text-value= <%= URI.encode_www_form_component(win) %>
       data-alert-computer-persona-value= <%= @last_computer_persona_picture %>
       data-alert-success-value= "true">
  </div>
<% end %>

<% if loose %>
  <div data-controller="alert"
       data-alert-error-icon-value="error"
       data-alert-error-title-value="You loose...",
       data-alert-computer-persona-value= <%= @last_computer_persona_picture %>
       data-alert-error-text-value=<%= URI.encode_www_form_component(loose) %>>
  </div>
<% end %>

<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
