<section>
  <%= simple_form_for game, html: { class: "d-flex flex-column justify-content-center align-items-center" } do |f| %>
    <div class="row w-40">
      <%= f.collection_radio_buttons :user_persona_id,
                                      personas,
                                      :id,
                                      :picture,
                                      item_wrapper_tag: 'article',
                                      item_wrapper_class: 'col-3 my-1' do |b| %>
        <%= b.label class: 'p-0' do %>
          <%= b.radio_button(class: "sr-only persona-input") %>
          <%= image_tag(b.text, class: "persona-picture")  %>
        <% end %>
      <% end %>
    </div>
    <div class="form-actions mt-4">
      <%= f.button :submit, "Start the game", class:"btn btn-secondary w-100 text-white" %>
    </div>
  <% end %>
</section>
